<div class="addButton">
    
    <mat-form-field>
        <mat-select (selectionChange)=getSelectedValue($event)>
            <mat-option *ngFor="let doress of doresses" [value]="doress.value">
              {{doress.viewValue}}
            </mat-option>
          </mat-select>
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="addButtonClick()">Basic</button>
    <ul>
        <div class="aaaObject">
            <div cdkDrag (cdkDragEnded)="dragEnd($event)" *ngFor="let tops of this.tops.topes">
                <label>{{tops.kind}}</label>
            </div>
        </div>

        <div  class="bbbObject">
            <div cdkDrag (cdkDragEnded)="dragEnd($event)" *ngFor="let bottoms of this.bottoms.bottomses">
                <label>{{bottoms.kind}}</label>
            </div>
        </div>

        <div  class="cccObject">
            <div cdkDrag (cdkDragEnded)="dragEnd($event)" *ngFor="let outer of this.outers.outers">
                <label>{{outer.kind}}</label>
            </div>
        </div>

    </ul>
</div>