<!--<div class="addButton">-->
<div id="inputSet">
    <mat-form-field>
            <mat-select (selectionChange)=getSelectedValue($event)>
                <mat-option *ngFor="let doress of doresses" [value]="doress.value">
                    {{doress.viewValue}}
                </mat-option>
            </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="addButtonClick()">ADD</button>
        <img id="dustBox" class="dastBox" type="image" src="../../assets/ごみ箱のフリーアイコン.png">
    <!-- <img id="dustBox" class="dastBox" type="image" src="../../assets/ごみ箱のフリーアイコン.png" width="50" height="50"> -->
</div>
    <ul>
        <div class="aaaObject">
            <!--<div cdkDrag (cdkDragEnded)="dragEnd($event)" *ngFor="let tops of this.tops.topes">-->
            <div cdkDrag (cdkDragMoved)="dragEnd($event)" id={{tops.no}} *ngFor="let tops of this.tops.topes">
                <label class='imgLabel'>{{tops.kind}}</label>
                <br>
                <div>
                    <img class='tops' src='../../assets/Yシャツアイコン2.png' alt={{tops.kind}} [innerHTML]=tops.no>
                </div>
            </div>
        </div>

        <div  class="bbbObject">
            <!--<div cdkDrag (cdkDragEnded)="dragEnd($event)" *ngFor="let bottoms of this.bottoms.bottomses">-->
            <div cdkDrag (cdkDragMoved)="dragEnd($event)" *ngFor="let bottoms of this.bottoms.bottomses">
                <label class='imgLabel'>{{bottoms.kind}}</label>
                <br>
                <div>
                    <img class='bottoms' src='../../assets/ズボンのアイコン1.png' alt={{tops.kind}}>
                </div>
            </div>
        </div>

        <div  class="cccObject">
            <!--<div cdkDrag (cdkDragEnded)="dragEnd($event)" *ngFor="let outer of this.outers.outers">-->
            <div cdkDrag (cdkDragMoved)="dragEnd($event)" *ngFor="let outer of this.outers.outers" > 
                <label class='imgLabel'>{{outer.kind}}</label>
                <br>
                <div>
                    <img class='outer' src='../../assets/ダウンジャケットアイコン1.png'>
                </div>
            </div>
        </div>
    </ul>